@font-face
{
	font-family: impactfontface;
	src: url(impact.ttf)
}

@font-face
{
	font-family: start;
	src: url(Code.ttf);
}

#programmer
{
	padding-left: 300px;
}

#fighter
{
	padding-top: 130px;
	padding-left: 425px;
}

.smallerfont
{
	color: white;
	padding-top: 100px;
	font-family: start;
	font-size: 25px;
	text-align: center;
}

#moduleColour
{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-color: #B23A3A;
}