#module
{
	display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
	width: 100%;
	height: 100%;
	margin-left: 8%;
	background-image: url("module.png");
	background-repeat: no-repeat;
	background-color: transparent;
}
#background
{
	height: 1080px;
	width: 1920px;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-color: #522121;
}
#moduleColour
{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-color: #B23A3A;
}
.button
{
	display: inline-block;
	float: left;
	width: 220px;
	height: 125px;
	margin-right: 2%;
	line-height: 120px;
	background-color: #32283D;
	box-shadow: -5px -5px 15px black;
}

@font-face
{
	font-family: impactfontface;
	src: url(impact.ttf)
}

.impactfont
{
	-webkit-font-smoothing: antialiased;
	color: #E9E017;
	font-family: impactfontface;
	font-size: 200%;
	text-align: center;
	text-decoration:underline;
}
.buttonFont
{
	-webkit-font-smoothing: antialiased;
	color: #E9E017;
	font-family: impactfontface;
	font-size: 200%;
	text-align: center;
	text-decoration:underline;
}
#mainiFrame
{
	width: 1080px;
	height: 608px;
	/*background-color: transparent;*/
    border: 0px none transparent;
	margin-top: 3%;
	margin-left: 15%;
	/*border: 1px solid black;*/
    padding: 0px;
    overflow: hidden;
}
#buttonList
{
    opacity:0.0;
    filter:alpha(opacity=0);
	padding-left:30%;
	padding-top:10%;
	list-style-type: none;
}
#homebutton
{
	
}
body
{
	width: 100%;
	height: 100%;
	background-color: #522121;
}