#module
{
	display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
	width: 100%;
	height: auto;
	margin-left: 8%;
	background-image: url("module.png");
	background-repeat: no-repeat;
	background-color: transparent;
}
#background
{
	height: 100%;
	width: 100%;
	margin: 0px;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-color: #522121;
}
.button
{
	margin-top: 1%;
	width: 22%;
	height: auto;
	color: #E9E017;
	line-height: 142px;
	text-align: center;
	text-decoration:underline;
	font-family: impact;
	font-size: 500%;
	list-style-type: none;
	background-color: #32283D;
	box-shadow: -5px -5px 20px black;
}
#buttonList
{
	display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
	padding-left:105px;
	padding-top:340px;
}
body
{
	width: 100%;
	height: 100%;
    font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: black;
	background-color: #522121;
}